html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* ------------ my css styles ------------*/
.my_tbl {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #5499c7;    
}

.my_row {
  display: table-row;
}

.my_cell {
  display: table-cell;
  padding: 0.1em;
}