@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div id="c1" class="node"></div>
    <div id="c2" class="node"></div>
    <div id="c3" class="node"></div>
</div>

<div>
    <div id="c4" class="node"></div>
    <div id="c5" class="node"></div>
    <div id="c6" class="node"></div>
</div>

<div>
    <div id="c7" class="node"></div>
    <div id="c8" class="node"></div>
    <div id="c9" class="node"></div>
</div>

<p></p>

<div>
    <div id="coral-pen" class="pen"></div>
    <div id="cornflower-pen" class="pen"></div>
</div>

